body {
  background-color: #111;
}

header {
  height: 56vw;
  overflow: hidden;
}

header .back {
  position: relative;
}

header .movie {
  position: absolute;
  width: 100%;
  height: 56vw;
}

header .mobile {
  position: absolute;
  width: 100%;
  height: 56vw;
}

header .cover {
  position: absolute;
  width: 100%;
  height: 56vw;
  background-color: rgba(0, 0, 0, 0.7);
}

header .main {
  position: relative;
  height: 100%;
  display: flex;
  padding: 0 36px;
  overflow: auto;
}

.data {
  display: inline-block;
  float: left;
}

.data .icon {
  margin: 16px;
  width: 30vw;
}

span .name {
  font-size: 6vw;
}

.profile {
  font-family: 'Source Code Pro', monospace;
}

@media screen and (min-width: 376px) {
  .profile {
    font-size: 13px;
  }
}

@media screen and (min-width: 480px) {
  .profile {
    font-size: 36px;
  }
}

.profile a:hover {
  text-decoration: underline;
}

.command {
  font-family: 'Source Code Pro', monospace;
}

@media screen and (min-width: 376px) {
  .command {
    font-size: 13px;
  }
}

@media screen and (min-width: 480px) {
  .command {
    font-size: 36px;
  }
}

.projects {
  display: flex;
}
