body{
    background-color: #111;
}
header {
    $height:56vw;
    height: $height;
    overflow: hidden;
    .back{
        position: relative;
    }
    iframe {
        position: absolute;
        width: 100%;
        height: $height;
    }
    .cover {
        position: absolute;
        width: 100%;
        height: $height;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .main {
        position: relative;
        height: 100%;
        display: flex;
        padding: 0 36px;
        overflow:auto;
    }
}
.data{
    display: inline-block;
    float: left;
    .icon{
        margin: 16px;
        width:30vw;
    }
}
span{
    .name{
        font-size: 6vw;
    }
}
.profile{
    font-family: 'Source Code Pro', monospace;
    @media screen and(min-width: 376px){
        font-size: 13px;
    }
    @media screen and(min-width: 480px){
        font-size: 36px;
    }
    a:hover{
        text-decoration: underline;
    }

}
.command{
    font-family: 'Source Code Pro', monospace;
    @media screen and(min-width: 376px){
        font-size: 13px;
    }
    @media screen and(min-width: 480px){
        font-size: 36px;
    }
}
.projects{
    display: flex;
}
